<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterController</filter-name>
        <filter-class>giang.controller.FilterController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterController</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>StartAppServlet</servlet-name>
        <servlet-class>giang.controller.StartAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>giang.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>giang.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>giang.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTourServlet</servlet-name>
        <servlet-class>giang.controller.AddTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>giang.controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>giang.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyDiscountServlet</servlet-name>
        <servlet-class>giang.controller.ApplyDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemServlet</servlet-name>
        <servlet-class>giang.controller.UpdateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTourServlet</servlet-name>
        <servlet-class>giang.controller.InsertTourServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartAppServlet</servlet-name>
        <url-pattern>/StartAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTourServlet</servlet-name>
        <url-pattern>/AddTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyDiscountServlet</servlet-name>
        <url-pattern>/ApplyDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemServlet</servlet-name>
        <url-pattern>/UpdateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTourServlet</servlet-name>
        <url-pattern>/InsertTourServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>SE140115</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
